<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EggTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89F1D9D41DA1A75E00038BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89F1D9E81DA1A75F00038BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89F1D9F31DA1A75F00038BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
